.o_search_panel_label_title{
    font-size:12px;
    
}

.o_controller_with_searchpanel .o_search_panel {
flex-basis: 200px;
}
.o_search_panel_section .o_search_panel_category{
    box-sizing: content-box;
}

